@import "tailwindcss";

:root {
  --primary: #8972fd;
  --primary-dark: #6e57d8;
  --background: #f7f7fb;
}

body {
  background: var(--background);
  color: #0f0f0f;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
